
@import '../../node_modules/react-resizable/css/styles';

.pdf {
  margin   : auto;
  position : relative;
}

.pdf-field {
  top        : 0;
  left       : 0;
  z-index    : 100;
  position   : absolute;
  background : rgba(0, 0, 0, 0.2);
}

.pdf-field .pdf-field-inner {
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}

.pdf-field .floating {
  right          : 0;
  bottom         : calc(100%);
  opacity        : 0;
  position       : absolute;
  transition     : all 0.2s ease;
  padding-bottom : .5rem;
}

.pdf-field:hover .floating {
  opacity : 1;
}